.cards__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cards__image {
  width: 200px;
  height: 220px;
}
.cards__headline {
  font-size: 24px;
  text-align: left;
}

.cards__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 200px;
  border: 1px solid $primary;
  margin-right: 10px;
}

.cards__title {
  font-size: 18px;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 10px;
}

.cards__skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px;
  margin-bottom: 10px;
}

.cards__skills {
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  background-color: $skills;
  padding: 3px 5px;
  margin-right: 4px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.cards__price {
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid $skills;
  width: 100px;
  border-radius: 20px;
}
