.form {
  border: none;
  padding: 0;
  margin: 0;
}

.form__fieldset {
  margin-bottom: 10px;
}

.form__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 17px;
  line-height: 0.94;
  margin: 0 auto;
  margin-bottom: 31px;
  padding: 0;
}

.form__item {
  position: relative;
  width: 82px;
  height: 52px;
}

.form__item:not(:last-child) {
  margin-right: 8px;
}

.form__input {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 82px;
  height: 52px;
}

.form__mark {
  position: absolute;
  display: block;
  width: 80px;
  height: 50px;
  border: 2px solid $skills;
  cursor: pointer;
}

.form__input[type="radio"]:checked + .form__mark {
  border: 2px solid $hover;
}

.form__legend {
  display: inline-block;
  font-size: 15px;
  line-height: 1.1;
  margin-bottom: 28px;
  font-weight: 400;
}

.form__title {
  display: inline-block;
  font-size: 15px;
  line-height: 1.1;
  margin-bottom: 22px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: 400;
}

.form__input-text {
  margin-bottom: 10px;
}

.form__button {
  padding: 10px 10px;
  width: 250px;
  background-color: $skills;
  color: $secondary;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    background-color: $hover;
  }
}
